:root {
  --primary: #ffef04;
  --secondary: #8255e6;
  --text: #252525;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", "Segoe UI", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: var(--text);
}

body {
  font-size: 16px;
  color: var(--text);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5em 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  min-height: 6em;
  z-index: 999;
}

#header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  text-transform: uppercase;
}

#header-img {
  width: 1em;
  height: 100%;
  object-fit: cover;
  margin-right: 0.5em;
}

#nav-bar ul {
  display: flex;
  align-items: center;
  gap: 2em;
}

#nav-bar ul li {
  list-style: none;
}

#nav-bar ul li a:hover {
  color: var(--secondary);
}

#nav-bar ul li a.action-link {
  padding: 0.8em 1.7em;
  background-color: var(--secondary);
  color: #fff;
  border-radius: 5px;
  display: block;
  width: fit-content;
  margin: auto;
}

#nav-bar ul li a.action-link:hover {
  background-color: #a282e7;
}

#main {
  padding: 10em 10% 1.5em;
  text-align: center;
}

.main-title {
  font-size: 4em;
}

.main-subtitle {
  font-size: 1.1em;
  margin-top: 0.5em;
  color: #454545;
}

.main-link {
  display: block;
  width: fit-content;
  margin: 3em auto;
  padding: 1em 2em;
  background-color: var(--secondary);
  color: #fff;
  border-radius: 5px;
}

.main-link:hover {
  background-color: #a282e7;
}

#products {
  padding: 7em 10% 4em;
}

.products-title {
  font-size: 3em;
  text-align: center;
}

.products-subtitle {
  font-size: 1.1em;
  text-align: center;
  color: #454545;
}

.products-main {
  margin-top: 2em;
}

.products-main #video {
  display: block;
  margin: 0 auto 5em;
  width: 560px;
  height: 315px;
}

.products-main h3 {
  font-size: 1.8em;
  text-align: center;
  margin: 0.5em 0;
}

.products-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
}

.product {
  display: block;
  width: 100%;
  transition: 0.3s;
}

.product .product-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: relative;
}

.product-desc {
  padding: 0.5em 1em 2em;
}

.product-name {
  font-size: 1.5em;
}

.product:hover {
  background-color: rgba(255, 244, 92, 0.5);
}

#features {
  padding: 7em 10% 4em;
}

.features-title {
  font-size: 3em;
  text-align: center;
}

.features-subtitle {
  font-size: 1.1em;
  text-align: center;
  color: #454545;
}

.features-main {
  margin-top: 2rem;
  display: grid;
  row-gap: 2em;
  width: 70%;
  margin-inline: auto;
}

.features-main .feature {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 2rem;
  background-color: rgba(255, 244, 92, 0.5);
  padding: 1.5em;
}

.features-main .feature i {
  color: orangered;
}

.features-main .feature p {
  font-size: 1rem;
}

#subscribe {
  padding: 3em 10%;
  background-color: rgba(162, 130, 231, 0.3);
}

.subscribe-title {
  font-size: 2em;
  text-align: center;
}

.subscribe-subtitle {
  font-size: 0.8em;
  text-align: center;
  color: #454545;
}

#form {
  display: block;
  margin: 2em auto 0;
  width: 50%;
}

#form input[type="email"] {
  display: block;
  margin: auto;
  margin-bottom: 1em;
  padding: 0.8em;
  font-size: 0.9em;
  color: #252525;
  width: 100%;
  font-family: "Figtree", Arial;
  border: 1.5px solid var(--secondary);
  border-radius: 10px;
  height: 3.5em;
}

#form input[type="email"]:focus {
  box-shadow: 0px 2px 30px 2px var(--secondary);
  outline: none;
}

#form input[type="submit"] {
  padding: 0.8em 1.8em;
  margin: auto;
  display: block;
  margin-top: 2.5em;
  background-color: var(--secondary);
  color: #fff;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

#form input[type="submit"]:hover {
  background-color: #a282e7;
}

#footer {
  padding: 2em 10%;
  background-color: var(--secondary);
  text-align: center;
  color: #fff;
  font-size: 0.6em;
}

.footer-links {
  margin-bottom: 1em;
}

.footer-links ul {
  display: flex;
  gap: 1.5em;
  justify-content: center;
}

.footer-links ul li {
  list-style: none;
}

.footer-links ul li a {
  color: #fff;
}

.footer-links ul li a:hover {
  color: var(--primary);
}

/* MEDIA QUERIES */
@media (min-width: 1440px) {
  body {
    font-size: 18px;
  }

  section:not(#subscribe) {
    max-width: 1200px;
    margin: auto;
  }

  .features-main {
    width: 90%;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  header {
    flex-direction: column;
  }

  #nav-bar ul {
    justify-content: center;
    padding-block: 1em;
    gap: 2em;
  }

  header {
    padding: 0;
  }

  #header-logo {
    padding: 1em 10%;
  }

  #nav-bar {
    width: 100%;
    background-color: #fff45c;
    text-align: center;
  }

  #main {
    padding: 14em 10% 1.5em;
  }

  #products,
  #features {
    padding: 14em 10% 4em;
  }

  .products-main #video {
    width: 400px;
    height: 225px;
  }

  .product img {
    height: 200px;
  }

  .features-main {
    width: 100%;
  }

  .features-main .feature {
    font-size: 1.4em;
  }

  #form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 12px;
  }

  #nav-bar ul {
    flex-direction: column;
    gap: 1em;
  }

  #main {
    padding: 17.5em 10% 1.5em;
  }

  #products,
  #features {
    padding: 15.5em 10% 4em;
  }

  .products-main #video {
    width: 100%;
    height: 100%;
  }

  .product img {
    height: 150px;
    width: 100%;
  }
}
